<ul>
	<li><a href="file:///Users/RDCCAIY/.pyenv/versions/3.9.11/lib/python3.9/site-packages/bridge_utils/xin2pbn/deallog/DealLog.html?bidlog=3S,P;4S,P,P,P;&playlog=E:TH,JH,AH,7H;W:JD,QD,KD,AD;S:8S,7S,AS,3S;N:KS,JS,9S,QS;N:8H,2H,KH,7C;S:QH,5C,5D,9H;S:4H,8C,2S,6H;N:TS,2C,3D,6D;N:6S,2D,7D,TC;N:5S,JC,4C,8D;N:4S,9C,3H,TD;N:&deal=AKT6542.87.Q95.3%20J3.T9652.K42.J92%2098.KQJ43.A73.A64%20Q7.A.JT86.KQT875&vul=EW&dealer=N&contract=4S&declarer=N&wintrick=12&score=480&dealid=1322942418&pbnid=110884683&str=%E6%AF%8F%E6%97%A5MP%E8%B5%9B20220523%20%E7%89%8C%E5%8F%B7%209/12">local</li>
	<li><a href="http://www.xinruibridge.com/deallog/DealLog.html?bidlog=3S,P;4S,P,P,P;&playlog=E:TH,JH,AH,7H;W:JD,QD,KD,AD;S:8S,7S,AS,3S;N:KS,JS,9S,QS;N:8H,2H,KH,7C;S:QH,5C,5D,9H;S:4H,8C,2S,6H;N:TS,2C,3D,6D;N:6S,2D,7D,TC;N:5S,JC,4C,8D;N:4S,9C,3H,TD;N:#1111&deal=AKT6542.87.Q95.3%20J3.T9652.K42.J92%2098.KQJ43.A73.A64%20Q7.A.JT86.KQT875&vul=EW&dealer=N&contract=4S&declarer=N&wintrick=12&score=480&dealid=1322942418&pbnid=110884683&str=%E6%AF%8F%E6%97%A5MP%E8%B5%9B20220523%20%E7%89%8C%E5%8F%B7%209/12">original</li>
</ul>
