<h1 id="ramsey的一副群组赛的实战牌例">Ramsey的一副群组赛的实战牌例</h1>

<p>在这个月 9 号的群组赛当中出现了一副非常有趣的牌。以下是一种可能的叫牌进程：</p>

        <!-- Board B.1: Auction -->
        <table class=bcauction style="font: 10pt Verdana, sans-serif; margin-left: auto; margin-right: auto">
          <col class=bcauction style="font: 10pt Verdana, sans-serif; width: 4em" span=4>
          <tr class=bcauctionpp>
            <td class=bcauctionppI style="font: 10pt @微软雅黑, sans-serif; padding: 1px; text-align: left; white-space: nowrap; width: 4em">西</td>
            <td class=bcauctionppI style="font: 10pt @微软雅黑, sans-serif; padding: 1px; text-align: left; white-space: nowrap; width: 4em">北</td>
            <td class=bcauctionppI style="font: 10pt @微软雅黑, sans-serif; padding: 1px; text-align: left; white-space: nowrap; width: 4em">东</td>
            <td class=bcauctionppI style="font: 10pt @微软雅黑, sans-serif; padding: 1px; text-align: left; white-space: nowrap; width: 4em">南</td>
          </tr>
          
          <tr class=bcauction><td class=bcauction style='padding: 1px; text-align: left; white-space: nowrap'>Pass</td>
<td class=bcauction style='padding: 1px; text-align: left; white-space: nowrap'>2<span style='font: 10pt Times, serif'>&thinsp;</span>NT</td>
<td class=bcauction style='padding: 1px; text-align: left; white-space: nowrap'>Pass</td>
<td class=bcauction style='padding: 1px; text-align: left; white-space: nowrap'>3<span style='font: 10pt Times, serif'>&thinsp;</span><span class=bcclubs style='color:black;font: 10pt Verdana, sans-serif;'>&clubs;</span></td>
</tr>
<td class=bcauction style='padding: 1px; text-align: left; white-space: nowrap'>Pass</td>
<td class=bcauction style='padding: 1px; text-align: left; white-space: nowrap'>3<span style='font: 10pt Times, serif'>&thinsp;</span>NT</td>
<td class=bcauction style='padding: 1px; text-align: left; white-space: nowrap'>Pass</td>
<td class=bcauction style='padding: 1px; text-align: left; white-space: nowrap'>6<span style='font: 10pt Times, serif'>&thinsp;</span>NT</td>
</tr>
<td class=bcauction style='padding: 1px; text-align: left; white-space: nowrap'>Pass</td>
<td class=bcauction style='padding: 1px; text-align: left; white-space: nowrap'>Pass</td>
<td class=bcauction style='padding: 1px; text-align: left; white-space: nowrap'>Pass</td>
</tr>


        </table>


<p>由 N 主打 6NT 定约，联手的牌如下，E 首攻 ♦K：</p>

        <!-- Board B.1: Diagram -->
        <table class=bchd style="font: 10pt Verdana, sans-serif; margin-left: auto; margin-right: auto">
          <tr class=bchd1>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;"> </td>

            <td class=bchd style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap" colspan=2>
                
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">K J 3</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">9 4</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A J</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K Q 8 7 4</td>
                </tr>
              </table>

            </td>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;">群组赛1209<br />牌号 4/8</td>

          </tr>
          <tr class=bchd2>
            <td class=bchd2a style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2a style="border-collapse: collapse">
                <tr class=bchd2a>
                  <td class=bchd2a1 style="padding-top: 0; padding-bottom: 0">
                    
    <table class=bchand style="border-collapse: collapse; border-spacing: 0">
    </table>

                  </td>
                  <td class=bchd2a2 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                </tr>
              </table>
            </td>
            <td class=bchd2b style="padding: 1px; vertical-align: middle">
                
              <table class=bcct style="width: 4em; height: 4em; border-collapse: collapse; font: 10pt simsun, sans-serif; color: #ffffff; border: 1px solid #aaaaaa">
                <tr class=bcct1>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px;background-color: #E06666;">N</td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
                <tr class=bcct2>
                  <td class=bcct2a style="text-align: left; vertical-align: text-top; padding: 1px; background-color: #E06666;">W</td>
                  <td class=bcct2b style="text-align: center; padding: 1px; color: black;">&larr;</td>
                  <td class=bcct2c style="text-align: right; vertical-align: text-top; padding: 1px; background-color: #E06666;">E</td>
                </tr>
                <tr class=bcct3>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px; background-color: #E06666;">S</td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
              </table>

            </td>
            <td class=bchd2c style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2c style="border-collapse: collapse">
                <tr class=bchd2c>
                  <td class=bchd2c1 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                  <td class=bchd2c2 style="padding-top: 0; padding-bottom: 0">
                    
    <table class=bchand style="border-collapse: collapse; border-spacing: 0">
    </table>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class=bchd3>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: bottom;"></td>

            <td class=bchd3b style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
               
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A Q 7 5</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K Q 6</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">8 6 5 3</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">2</td>
                </tr>
              </table>

            </td>
            <td>
            
            </td>
          </tr>
        </table>


<h2 id="实战思路">实战思路</h2>

<p>让我们先从实战的角度计划一下坐庄。我们的大牌赢墩有 4♠+3♥+1♦+3♣ 共计 11 墩牌，只需要做出一墩。一个十分显然的机会是 ♣ 的平均分布，那也我们就可以简单做成。如果 ♣ 不是均分，一个比较明显的机会是持有四张 ♣ 的防守人同时持有四张 ♥，这样我们存在一个简单挤牌的机会。熟悉挤牌的同学们都知道，在实现简单挤牌的时候我们需要将输张调整到只有一个。而调整输墩只能发生在第一墩牌（否则 ♦ 会丢掉 2 墩），因此从实战的角度忍让第一墩 ♦K 是势在必行的。不妨假设 W 持有四张 ♥ 和 ♣，E 在 ♦K 吃到后转出 ♣ 试图破坏联通，我们只需要先兑现四个 ♠（N 垫一张 C）再兑现 ♦A 回到 N 以形成如下的局势：</p>

        <!-- Board B.1: Diagram -->
        <table class=bchd style="font: 10pt Verdana, sans-serif; margin-left: auto; margin-right: auto">
          <tr class=bchd1>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;"> </td>

            <td class=bchd style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap" colspan=2>
                
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">9 4</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K 8 7</td>
                </tr>
              </table>

            </td>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;">群组赛1209<br />牌号 4/8</td>

          </tr>
          <tr class=bchd2>
            <td class=bchd2a style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2a style="border-collapse: collapse">
                <tr class=bchd2a>
                  <td class=bchd2a1 style="padding-top: 0; padding-bottom: 0">
                    
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">x x x x</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">x x x</td>
                </tr>
              </table>

                  </td>
                  <td class=bchd2a2 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                </tr>
              </table>
            </td>
            <td class=bchd2b style="padding: 1px; vertical-align: middle">
                
              <table class=bcct style="width: 4em; height: 4em; border-collapse: collapse; font: 10pt simsun, sans-serif; color: #ffffff; border: 1px solid #aaaaaa">
                <tr class=bcct1>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px;background-color: #E06666;">N</td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
                <tr class=bcct2>
                  <td class=bcct2a style="text-align: left; vertical-align: text-top; padding: 1px; background-color: #E06666;">W</td>
                  <td class=bcct2b style="text-align: center; padding: 1px; color: black;">&larr;</td>
                  <td class=bcct2c style="text-align: right; vertical-align: text-top; padding: 1px; background-color: #E06666;">E</td>
                </tr>
                <tr class=bcct3>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px; background-color: #E06666;">S</td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
              </table>

            </td>
            <td class=bchd2c style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2c style="border-collapse: collapse">
                <tr class=bchd2c>
                  <td class=bchd2c1 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                  <td class=bchd2c2 style="padding-top: 0; padding-bottom: 0">
                    
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">无</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">关</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">紧</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">要</td>
                </tr>
              </table>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class=bchd3>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: bottom;"></td>

            <td class=bchd3b style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
               
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K Q 6</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">8 6 5</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
              </table>

            </td>
            <td>
            
            </td>
          </tr>
        </table>


<p>现在 W 已经无法垫牌，如果垫去一张 ♥ 则 S 的第四张 ♥ 可以做大，如果垫去 ♣，则 N 的 ♣ 已经建立。在这里不熟悉调整输墩的同学也可以看到在前期忍让一墩♦ 的作用，如若不然，此时 W 还可以垫掉一张闲张 ♦，挤牌不能成立。</p>

<p>不幸的是，在实际的分布下，由于 ♣ 和 ♥ 的长度分散在两位防家的手里，因此简单挤牌并不能成立，很多人也因此打宕了定约，我也是其中之一。四家牌如下：</p>

        <!-- Board B.1: Diagram -->
        <table class=bchd style="font: 10pt Verdana, sans-serif; margin-left: auto; margin-right: auto">
          <tr class=bchd1>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;">
                6<span style='font: 10pt Times, serif'>&thinsp;</span>NT by North<br />Lead: <span class=bcdiams style='color: red; font: 10pt Verdana, sans-serif;'>&diams;</span>K
            </td>

            <td class=bchd style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap" colspan=2>
                
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">K J 3</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">9 4</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A J</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K Q 8 7 4</td>
                </tr>
              </table>

            </td>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;">群组赛1209<br />牌号 4/8</td>

          </tr>
          <tr class=bchd2>
            <td class=bchd2a style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2a style="border-collapse: collapse">
                <tr class=bchd2a>
                  <td class=bchd2a1 style="padding-top: 0; padding-bottom: 0">
                    
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">8 2</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">J 10 8</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">10 9 7 4</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">J 10 5 3</td>
                </tr>
              </table>

                  </td>
                  <td class=bchd2a2 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                </tr>
              </table>
            </td>
            <td class=bchd2b style="padding: 1px; vertical-align: middle">
                
              <table class=bcct style="width: 4em; height: 4em; border-collapse: collapse; font: 10pt simsun, sans-serif; color: #ffffff; border: 1px solid #aaaaaa">
                <tr class=bcct1>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px;background-color: #E06666;">N</td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
                <tr class=bcct2>
                  <td class=bcct2a style="text-align: left; vertical-align: text-top; padding: 1px; background-color: #E06666;">W</td>
                  <td class=bcct2b style="text-align: center; padding: 1px; color: black;">&larr;</td>
                  <td class=bcct2c style="text-align: right; vertical-align: text-top; padding: 1px; background-color: #E06666;">E</td>
                </tr>
                <tr class=bcct3>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px; background-color: #E06666;">S</td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
              </table>

            </td>
            <td class=bchd2c style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2c style="border-collapse: collapse">
                <tr class=bchd2c>
                  <td class=bchd2c1 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                  <td class=bchd2c2 style="padding-top: 0; padding-bottom: 0">
                    
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">10 9 6 4</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">7 5 3 2</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">K Q 2</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">9 6</td>
                </tr>
              </table>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class=bchd3>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: bottom;"></td>

            <td class=bchd3b style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
               
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A Q 7 5</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K Q 6</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">8 6 5 3</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">2</td>
                </tr>
              </table>

            </td>
            <td>
            
            </td>
          </tr>
        </table>


<p>新睿链接 <a href="http://www.xinruibridge.com/deallog/DealLog.html?bidlog=P,2N,P%3B3C,P,3N,P%3B6N,P,P,P%3B&amp;playlog=E:KD,3D,4D,JD%3BE:2D,5D,7D,AD%3BN:JS,6S,5S,8S%3BN:KS,4S,7S,2S%3BN:3S,TS,AS,8H%3BS:QS,TD,4C,9S%3BS:KH,JH,4H,2H%3BS:AH,TH,9H,3H%3BS:QH,9D,8C,5H%3BS:2C,JC,QC,6C%3BN:KC,9C,6D,5C%3BN:AC,7H,6H,3C%3BN:7C,QD,8D,TC%3B&amp;deal=82.JT8.T974.JT53%20KJ3.94.AJ.AKQ874%20T964.7532.KQ2.96%20AQ75.AKQ6.8653.2&amp;vul=All&amp;dealer=W&amp;contract=6N&amp;declarer=N&amp;wintrick=11&amp;score=-100&amp;str=%E7%BE%A4%E7%BB%84IMP%E8%B5%9B%2020201209%20%E7%89%8C%E5%8F%B7%204/8&amp;dealid=995050099&amp;pbnid=345464272">群组IMP赛 20201209 牌号 4/8</a></p>

<h2 id="四明手分析">四明手分析</h2>

<p>不过在打牌过后我惊讶的发现这副牌是可以完成的，于是便开始从四明手的角度来思考这个问题。首先的思路是忍让第一墩，打以 ♦8 为共同威胁张，再加上 ♥ 和 ♣的双挤，不过这一思路是显然不能成立的，原因是在共同威胁花色 ♦上没有桥引。看起来完成定约需要某种比较复杂的终局打法了，我经过一段时间了思考找到了这个打法，想要自己停下来思考一下的同学可以简单提示一下，要发挥 ♥ 小号码的作用。</p>

<p>如果你找到了正确的打法，恭喜你！正确的打法是某种复合挤牌，首轮不能忍让，用 ♦A 拿住，之后连打四个 ♠，在第三张 ♠ 西家可以安全的垫掉一个 ♦，在第四张 ♠ 打出之前形成如下局面：</p>

        <!-- Board B.1: Diagram -->
        <table class=bchd style="font: 10pt Verdana, sans-serif; margin-left: auto; margin-right: auto">
          <tr class=bchd1>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;"> </td>

            <td class=bchd style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap" colspan=2>
                
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">9 4</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">J</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K Q 8 7 4</td>
                </tr>
              </table>

            </td>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;">群组赛1209<br />牌号 4/8</td>

          </tr>
          <tr class=bchd2>
            <td class=bchd2a style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2a style="border-collapse: collapse">
                <tr class=bchd2a>
                  <td class=bchd2a1 style="padding-top: 0; padding-bottom: 0">
                    
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">J 10 8</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">10 9</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">J 10 5 3</td>
                </tr>
              </table>

                  </td>
                  <td class=bchd2a2 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                </tr>
              </table>
            </td>
            <td class=bchd2b style="padding: 1px; vertical-align: middle">
                
              <table class=bcct style="width: 4em; height: 4em; border-collapse: collapse; font: 10pt simsun, sans-serif; color: #ffffff; border: 1px solid #aaaaaa">
                <tr class=bcct1>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px;background-color: #E06666;">N</td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
                <tr class=bcct2>
                  <td class=bcct2a style="text-align: left; vertical-align: text-top; padding: 1px; background-color: #E06666;">W</td>
                  <td class=bcct2b style="text-align: center; padding: 1px; color: black;">&larr;</td>
                  <td class=bcct2c style="text-align: right; vertical-align: text-top; padding: 1px; background-color: #E06666;">E</td>
                </tr>
                <tr class=bcct3>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px; background-color: #E06666;">S</td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
              </table>

            </td>
            <td class=bchd2c style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2c style="border-collapse: collapse">
                <tr class=bchd2c>
                  <td class=bchd2c1 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                  <td class=bchd2c2 style="padding-top: 0; padding-bottom: 0">
                    
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">10</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">7 5 3 2</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">Q 2</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">9 6</td>
                </tr>
              </table>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class=bchd3>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: bottom;"></td>

            <td class=bchd3b style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
               
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K Q 6</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">8 6 5</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">2</td>
                </tr>
              </table>

            </td>
            <td>
            
            </td>
          </tr>
        </table>


<p>在 ♠A 上西家需要垫一张牌。♣ 的垫牌显然是行不通的，此时如果垫去一张 ♦，庄家可以立刻打出 ♦ 从而做大 ♦8。因此西只能垫去一张 ♥，这张牌看起来没有很大影响，实际上它使得同伴在 ♥ 上失去了保护。我们让N 垫去一张 ♣, 此时我们再兑现 3 墩 ♣ 大牌，形成这样的局势：</p>

        <!-- Board B.1: Diagram -->
        <table class=bchd style="font: 10pt Verdana, sans-serif; margin-left: auto; margin-right: auto">
          <tr class=bchd1>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;">
                6<span style='font: 10pt Times, serif'>&thinsp;</span>NT by North<br />Lead: <span class=bcdiams style='color: red; font: 10pt Verdana, sans-serif;'>&diams;</span>K
            </td>

            <td class=bchd style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap" colspan=2>
                
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">9 4</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">J</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A 8 7</td>
                </tr>
              </table>

            </td>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;">群组赛1209<br />牌号 4/8</td>

          </tr>
          <tr class=bchd2>
            <td class=bchd2a style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2a style="border-collapse: collapse">
                <tr class=bchd2a>
                  <td class=bchd2a1 style="padding-top: 0; padding-bottom: 0">
                    
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">J 10</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">10 9</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">J 10</td>
                </tr>
              </table>

                  </td>
                  <td class=bchd2a2 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                </tr>
              </table>
            </td>
            <td class=bchd2b style="padding: 1px; vertical-align: middle">
                
              <table class=bcct style="width: 4em; height: 4em; border-collapse: collapse; font: 10pt simsun, sans-serif; color: #ffffff; border: 1px solid #aaaaaa">
                <tr class=bcct1>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px;background-color: #E06666;">N</td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
                <tr class=bcct2>
                  <td class=bcct2a style="text-align: left; vertical-align: text-top; padding: 1px; background-color: #E06666;">W</td>
                  <td class=bcct2b style="text-align: center; padding: 1px; color: black;">&larr;</td>
                  <td class=bcct2c style="text-align: right; vertical-align: text-top; padding: 1px; background-color: #E06666;">E</td>
                </tr>
                <tr class=bcct3>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px; background-color: #E06666;">S</td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
              </table>

            </td>
            <td class=bchd2c style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2c style="border-collapse: collapse">
                <tr class=bchd2c>
                  <td class=bchd2c1 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                  <td class=bchd2c2 style="padding-top: 0; padding-bottom: 0">
                    
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">7 5 3 2</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">Q 2</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
              </table>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class=bchd3>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: bottom;"></td>

            <td class=bchd3b style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
               
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K Q 6</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">8 6</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">—</td>
                </tr>
              </table>

            </td>
            <td>
            
            </td>
          </tr>
        </table>


<p>在 ♣A 上，东家需要垫一张牌，如果垫去 ♥，则庄家的第四张 ♥ 已经做大，因此只能把 ♦ 垫成单张 Q，这时庄家只需要兑现两墩 ♥，击落西的 JT，再打出 ♦ 脱手，东家吃进之后不得不从 ♥75 向 ♥Q6 回牌，让庄家的 ♥6成为第 12 墩。</p>

<h2 id="附加练习">附加练习</h2>

<p>这就是我今天想和大家分享的一副群组赛的牌，如果大家对这种打法感兴趣，我准备了一副练习，取自BM2000 Level5-A36。按照挤牌大全一书种的命名方法，这个例子应该是一个非常标准的双护张挤牌（Double
Guard Squeeze）感兴趣的同学不妨试试。</p>

        <!-- Board B.1: Diagram -->
        <table class=bchd style="font: 10pt Verdana, sans-serif; margin-left: auto; margin-right: auto">
          <tr class=bchd1>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;">
                6<span style='font: 10pt Times, serif'>&thinsp;</span><span class=bcclubs style='color:black;font: 10pt Verdana, sans-serif;'>&clubs;</span> by South<br />Lead: <span class=bcspades style='color:black;font: 10pt Verdana, sans-serif;'>&spades;</span>A
            </td>

            <td class=bchd style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap" colspan=2>
                
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">4 3 2</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">J 2</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K Q 5</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">Q J 10 9</td>
                </tr>
              </table>

            </td>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: top;"></td>

          </tr>
          <tr class=bchd2>
            <td class=bchd2a style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2a style="border-collapse: collapse">
                <tr class=bchd2a>
                  <td class=bchd2a1 style="padding-top: 0; padding-bottom: 0">
                    
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K J 10</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">K 4 3</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">10 9 8 7 6</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">2</td>
                </tr>
              </table>

                  </td>
                  <td class=bchd2a2 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                </tr>
              </table>
            </td>
            <td class=bchd2b style="padding: 1px; vertical-align: middle">
                
              <table class=bcct style="width: 4em; height: 4em; border-collapse: collapse; font: 10pt simsun, sans-serif; color: #ffffff; border: 1px solid #aaaaaa">
                <tr class=bcct1>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px;background-color: #93C47D;">N</td>
                  <td class=bcct1 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
                <tr class=bcct2>
                  <td class=bcct2a style="text-align: left; vertical-align: text-top; padding: 1px; background-color: #93C47D;">W</td>
                  <td class=bcct2b style="text-align: center; padding: 1px; color: black;">&larr;</td>
                  <td class=bcct2c style="text-align: right; vertical-align: text-top; padding: 1px; background-color: #93C47D;">E</td>
                </tr>
                <tr class=bcct3>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px; background-color: #93C47D;">S</td>
                  <td class=bcct3 style="text-align: center; vertical-align: text-top; padding: 1px"></td>
                </tr>
              </table>

            </td>
            <td class=bchd2c style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2c style="border-collapse: collapse">
                <tr class=bchd2c>
                  <td class=bchd2c1 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                  <td class=bchd2c2 style="padding-top: 0; padding-bottom: 0">
                    
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">Q 9 8 7 6</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">Q 9 8 7 6 5</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">J</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">3</td>
                </tr>
              </table>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class=bchd3>
            
            <td class=bchd3 style="padding: 1px; font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; vertical-align: bottom;"></td>

            <td class=bchd3b style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
               
              <table class=bchand style="border-collapse: collapse; border-spacing: 0">
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcspades style="color: black">&spades;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">5</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bchearts style="color: red">&hearts;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A 10</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcdiams style="color: red">&diams;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">4 3 2</td>
                </tr>
                <tr class=bchand>
                  <td class=bcpip style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0; width: 1em; text-align: center"><span class=bcclubs style="color: black">&clubs;</span></td>
                  <td class=bchand style="font: 10pt Verdana, sans-serif; padding: 1px; padding-top: 0; padding-bottom: 0">A K 8 7 6 5 4</td>
                </tr>
              </table>

            </td>
            <td>
            
            </td>
          </tr>
        </table>


<p>面对 S 的 6♣ 定约，W 首攻 ♠A ，吃到之后续攻♠K，计划如何完成。</p>
