        <!-- Board B.1: Diagram -->
        <table class=bchd style="font: 10pt Verdana, sans-serif; margin-left: auto; margin-right: auto">
          <tr class=bchd1>
            $ul
            <td class=bchd style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap" colspan=2>
                $north
            </td>
            $ur
          </tr>
          <tr class=bchd2>
            <td class=bchd2a style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2a style="border-collapse: collapse">
                <tr class=bchd2a>
                  <td class=bchd2a1 style="padding-top: 0; padding-bottom: 0">
                    $west
                  </td>
                  <td class=bchd2a2 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                </tr>
              </table>
            </td>
            <td class=bchd2b style="padding: 1px; vertical-align: middle">
                $board
            </td>
            <td class=bchd2c style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
              <table class=bchd2c style="border-collapse: collapse">
                <tr class=bchd2c>
                  <td class=bchd2c1 style="padding-top: 0; padding-bottom: 0; width: 1em"></td>
                  <td class=bchd2c2 style="padding-top: 0; padding-bottom: 0">
                    $east
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class=bchd3>
            $ll
            <td class=bchd3b style="font: 10pt Verdana, sans-serif; padding: 1px; text-align: left; white-space: nowrap">
               $south
            </td>
            <td>
            $lr
            </td>
          </tr>
        </table>
