<h3>群组IMP赛 20210310 牌号 3/8</h3>
<p><a href="http://www.xinruibridge.com/deallog/DealLog.html?bidlog=1D,P,1H,P%3B1S,P,3D,P%3B5D,P,P,P%3B&amp;playlog=W:KC,3C,9C,2C%3BW:5C,7C,6C,8C%3BS:AC,TC,7S,4D%3BE:9D,2D,6D,KD%3BN:JS,3S,AS,8S%3BS:2S,QS,7D,TS%3BN:2H,6H,3D,3H%3BS:4S,KS,JD,9S%3BN:4H,8H,5D,7H%3BS:5S,4C,QD,6S%3BN:5H,QH,TD,TH%3BS:AD,8D,9H,JH%3BS:JC,QC,KH,AH%3B&amp;deal=A542..AT532.AJ82%20KQ8.T73.86.KQT54%20J7.K9542.KQJ7.73%20T963.AQJ86.94.96&amp;vul=EW&amp;dealer=S&amp;contract=5D&amp;declarer=S&amp;wintrick=10&amp;score=-50&amp;str=%E7%BE%A4%E7%BB%84IMP%E8%B5%9B%2020210310%20%E7%89%8C%E5%8F%B7%203/8&amp;dealid=1049994778&amp;pbnid=353564026">群组IMP赛 20210310 牌号 3/8</a></p>
<p>3.10－3－bucky</p>
<p>叫牌：正常叫牌应该是1♦-1♥-1♠-3♦，之后南家拿着三个A和不错的牌型（虽说同伴叫过♥，空门要打个折扣），在新睿体系可以加叫到4♦。在线下的话，可能把4♦作为强叫品更好些；同伴已经邀叫，实力在一个较窄的范围，这时候在四阶反邀，效率不是很高，不如逼叫更有用。当然，在新睿我们还是要按照他的体系来。线下这牌我会直接加到5♦。略有点冒（这便是把4♦作为逼叫的代价），但还是有机会。</p>
<p>打牌：首攻♣K的时候先忍一轮，如果西家继续♣，你就有机会了。♣第二轮赢了之后出张小♠（先不要兑现♠A以保持联通），对方拿了之后不管出♣还是吊将，你都是由明手大将牌赢，然后♠A，将吃♠，接下去交叉将吃，明手三张将牌用来将吃两个♠一个♣（♣A留在手里），之后如果将牌2-2的话正好可以♥将吃回手吊完将牌，最后手里还有一张♣A，共计拿到一墩♠（♠A），两个♣，八副♦（包括明手将吃三次），11墩牌完成定约。</p>
<h3>群组IMP赛 20210310 牌号 5/8</h3>
<p><a href="http://www.xinruibridge.com/deallog/DealLog.html?bidlog=P,1N%3BX,XX,P,2C%3BP,P,P&amp;playlog=S:KD,4D,2D,AD%3BE:9C,5C,4C,KC%3BN:3S,QS,9S,5S%3BE:TC,QC,6C,7C%3BS:QD,TD,5D,3D%3BS:JD,3C,7D,8D%3BW:2C,8C,7H,AC%3BS:9D,JC,6D,7S%3BW:4S,6S,KS,JS%3BE:AS,5H,8S,2S%3BE:TS,9H,3H,2H%3BE:QH,AH,8H,6H%3BS:TH,KH,4H,JH%3B&amp;deal=632.642.7652.K87%20AKQT7.QJ7.A83.T9%20J9.AT95.KQJ9.AQ5%20854.K83.T4.J6432&amp;vul=NS&amp;dealer=N&amp;contract=2C&amp;declarer=E&amp;wintrick=8&amp;score=-90&amp;str=%E7%BE%A4%E7%BB%84IMP%E8%B5%9B%2020210310%20%E7%89%8C%E5%8F%B7%205/8&amp;dealid=1049999843&amp;pbnid=353564028">群组IMP赛 20210310 牌号 5/8</a></p>
<p>3.10－5－bucky</p>
<p>叫牌：又是一副边缘的牌，右手1NT之后pass或加倍都可以。考虑到有个合适的首攻套，我倾向于加倍。最终的发展，如果你加倍的话对方会逃到2♣，不加倍的话防守1NT，两个定约都是正好做成，得分也相同。有些同学2♣之后作了技术性加倍，按牌理来说是不合适的，因为你♠只有两个，同伴叫2♠的话你情况将会不妙。这副牌恰好对方♠套没叫出来，而我方♦配合，所以加倍反而赚了，但这是小概率事件。</p>
<h3>群组IMP赛 20210310 牌号 6/8</h3>
<p><a href="http://www.xinruibridge.com/deallog/DealLog.html?bidlog=P%3BP,1N,P,2N%3BP,P,P&amp;playlog=N:KH,9H,6H,7H%3BN:JH,6D,3H,AH%3BW:6C,TC,AC,9C%3BE:QD,TD,4D,AD%3BN:QH,6S,5H,2S%3BN:2H,5D,TH,JC%3BS:8H,4S,2D,5S%3BS:4H,2C,9S,JS%3BS:3S,AS,TS,8C%3BW:&amp;deal=J65.9.QJ65.A8754%20KQ873.T86543.T.9%20A42.A7.K984.KJ62%20T9.KQJ2.A732.QT3&amp;vul=EW&amp;dealer=E&amp;contract=2N&amp;declarer=W&amp;wintrick=7&amp;score=100&amp;str=%E7%BE%A4%E7%BB%84IMP%E8%B5%9B%2020210310%20%E7%89%8C%E5%8F%B7%206/8&amp;dealid=1050001388&amp;pbnid=353564029">群组IMP赛 20210310 牌号 6/8</a></p>
<p>3.10－6－bucky</p>
<p>叫牌：这副牌可能是在考验你的胆量和对于新睿体系的熟悉程度。两门高花，♥略长但是最大的是10，♠稍好但是只有五个。这不是一个应该阻击开叫的牌，pass为妥。之后左手开1NT，右手2NT邀请，此时新睿体系有个不太为人知的手段，就是用加倍来表示双高花。考虑到无对有，也许可以试一下。如果试验的结果不好，别跟人说是我教的。这副牌正好撞大运了，同伴四张好支持，4♥(被加倍)打不宕。</p>
<p>最好的自己 提问：老师 有个疑问 在加倍2NT表示双高花后搭档叫3♥，是否叫4♥呢？</p>
<p>bucky 回答：
搭档的3♥不是主动出来的，可能只有两张。再说加倍也差不多已经叫足了。3♥之后应该pass。我拿北家的牌会考虑4♥，因为南家如果不是至少5-5，不可能在这种序列下还强行出头。</p>